<!--- basic page needs
================================================== -->
<meta charset="utf-8">
<title>{{ site.title }}{% if page.title %} &#8226; {{ page.title }}{% endif %}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/assets/css/base.css">
<link rel="stylesheet" href="/assets/css/vendor.css">
<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/css/main.css">

<!-- script
================================================== -->
<script src="/assets/js/modernizr.js"></script>

<!-- favicons
================================================== -->
<!-- TODO
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
-->

<!-- analytics
================================================== -->
<script src="https://getinsights.io/js/insights.js"></script>
<script>
insights.init('rgCh29Fzt3idDR2T');
insights.trackPages();
</script>