<!-- site header
================================================== -->
<header class="s-header header">

    <div class="header__top">
        <div class="header__logo">
            <a class="site-logo" href="index.html">
                <img src="/assets/images/logo.svg" alt="Homepage">
            </a>
        </div>

        <!-- toggles -->
        <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
    </div>

    <nav class="header__nav-wrap">

        <ul class="header__nav">
            <li><a href="/index.html" title="">About</a></li>
            <li><a href="/publications/" title="">Publications</a></li>
            <li><a href="/projects/" title="">Projects</a></li>
            <li><a href="/gallery/" title="">Photography</a></li>
            <li><a href="/contact/" title="">Contact</a></li>
        </ul> <!-- end header__nav -->

        <ul class="header__social">
            <li class="ss-address">
                <a href="https://maps.apple.com/?address=Van%20Mourik%20Broekmanweg%206,%202628%20XE%20Delft,%20Netherlands&auid=14847247505893078258&ll=51.999005,4.378132&lsp=9902&q=TU%20Delft%20-%20Mathematics%20%26%20Computer%20Science" alt="https://goo.gl/maps/c8CYdisjBKtTNrGj6">
                    <span class="screen-reader-text">Address</span>
                </a>
            </li>
            <li class="ss-email">
                <a href="mailto:{{ site.email }}">
                    <span class="screen-reader-text">Email</span>
                </a>
            </li>
            <li class="ss-twitter">
                <a href="https://www.twitter.com/{{ site.twitter }}">
                    <span class="screen-reader-text">Twitter</span>
                </a>
            </li>
            <li class="ss-github">
                <a href="https://www.github.com/{{ site.github }}">
                    <span class="screen-reader-text">Twitter</span>
                </a>
            </li>
        </ul>

    </nav> <!-- end header__nav-wrap -->

</header> <!-- end s-header -->