---
layout: default
---

<!-- site content ================================================== -->
<div class="s-content content">
    <main class="row s-styles">
        
        <section class="column large-full entry format-standard">

            <div class="row">
              
              <div class="column large-3 tab-full">
                <img alt="portrait-thomas" src="/assets/images/portrait.jpg">
              </div>
              
              <div class="column large-9 tab-full">          
                <p>
Thomas Höllt<br/>
Assistant Professor<br/>
<a href="https://graphics.tudelft.nl/" target=_blank>Computer Graphics and Visualization</a><br/>
                </p>
                <p>

<a href="https://www.tudelft.nl/" target=_blank>Delft University of Technology</a><br/>
<a href="https://www.tudelft.nl/en/eemcs/" target=_blank>EEMCS</a> - <a href="https://www.tudelft.nl/en/eemcs/the-faculty/departments/intelligent-systems/" target=_blank>Dept. Intelligent Systems</a><br/>
Van Mourik Broekmanweg 6, 2628 XE Delft<br/>
Room 5W.720 (5th floor, west)
                </p>
                <p>

Phone: +31 (0)15 XXX XXX<br/>
Email: <a href="mailto:t.hollt-1@tudelft.nl">T.Hollt-1@tudelft.nl</a>
                </p>
              </div>
            
            </div>

        </section>

    </main>

</div> <!-- end s-content -->