---
layout: default
---

<!-- site content ================================================== -->
<div class="s-content content">

<header class="listing-header">
    <h1 class="h2">Courses</h1>
    
    <h3>Current Academic Year</h3>
</header>

<div class="masonry-wrap">

  <div class="masonry">

      <div class="grid-sizer"></div>
      
      {% assign current_courses = site.courses | where:'year', "2023" %}
      
      {% for course in current_courses %}
        {% include course_list_entry.html %}
      {% endfor %}

  </div> <!-- end masonry -->

</div> <!-- end masonry-wrap -->

<header class="listing-header">
    <h3>Previous Courses</h3>
</header>

</div> <!-- end s-content -->