---
layout: default
---

<!-- site content ================================================== -->
{% for publication in site.publications %}
  {% if publication.type == "preprint" %}
    {% assign ifpreprint = 'true' %}
  {% elsif publication.type == "inproceedings" or publication.type == "article" %}
    {% assign ifpaper = 'true' %}
  {% elsif publication.type == "book" or publication.type == "inbook" %}
    {% assign ifbook = 'true' %}
  {% elsif publication.type == "poster" %}
    {% assign ifposter = 'true' %}
  {% elsif publication.type == "mscthesis" or publication.type == "phdthesis" %}
    {% assign ifthesis = 'true' %}
  {% endif %}
{% endfor %}


<div class="s-content">
    {% if ifpreprint %}
    <header class="listing-header">
        <h1 class="h2">Preprints</h1>
    </header>
    
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>
            
            {% for publication in site.publications reversed %}
              {% if publication.type == "preprint" %}
                {% include publication_list_entry.html %}
              {% endif %}
            {% endfor %}

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->
    {% endif %}

    {% if ifpaper %}
    <header class="listing-header">
        <h1 class="h2">Peer Reviewed Journal &amp; Conference Papers</h1>
    </header>
    
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>
            
            {% for publication in site.publications reversed %}
              {% if publication.type == "inproceedings" or publication.type == "article" %}
                {% include publication_list_entry.html %}
              {% endif %}
            {% endfor %}

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->
    {% endif %}

    {% if ifbook %}
    <header class="listing-header">
        <h1 class="h2">Books &amp;  Bookchapters</h1>
    </header>
    
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>
            
            {% for publication in site.publications reversed %}
              {% if publication.type == "book" or publication.type == "inbook" %}
                {% include publication_list_entry.html %}
              {% endif %}
            {% endfor %}

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->
    {% endif %}

    {% if ifposter %}
    <header class="listing-header">
        <h1 class="h2">Posters &amp; Sketches</h1>
    </header>
    
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>
            
            {% for publication in site.publications reversed %}
              {% if publication.type == "poster" %}
                {% include publication_list_entry.html %}
              {% endif %}
            {% endfor %}

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->
    {% endif %}

    {% if ifthesis %}
    <header class="listing-header">
        <h1 class="h2">Theses</h1>
    </header>
    
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>
            
            {% for publication in site.publications reversed %}
              {% if publication.type == "mscthesis" or publication.type == "phdthesis" %}
                {% include publication_list_entry.html %}
              {% endif %}
            {% endfor %}

        </div> <!-- end masonry -->

    </div> <!-- end masonry-wrap -->
    {% endif %}

</div> <!-- end s-content -->